@import 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css';
.tree ul {
  padding-left: 1.2em;
}
.tree li {
  list-style: none;
}
.tree li a:nth-child(2) {
  padding-left: 4px;
}
.tree a {
  text-decoration: none;
}
