html, body { min-height: 100vh; }

body { background-color: #bcf7d3; }

main {
  padding-top: 30px;
}

#Index { margin: 200px auto; }
  #Index input,
  #Index button { margin: 12px; display: block; width: 600px; text-align: center; }

#Images { margin-top: 12px; }

#Save button { width: 100%; }

#Page { margin-top: 20px; }

.preview { margin: 14px; }
.preview > * { width: 100%; }
.preview > *:not(img) { min-height: 500px; }

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.title { color: inherit; }
.subtitle { color: inherit; }
.content { color: inherit; }
.table { color: inherit; background-color: inherit; }
.tag { margin: 0 3px; }
.card { margin: 12px 12px 12px 0; }
.tabs { height: 3em; margin-top: -1em; }

.notie-container {
  top: auto !important;
  bottom: 0;
}

.content pre {
  margin-bottom: 0 !important;
}

.jsonEditor .jsonName label { padding-left: 12px; }
.jsonEditor .jsonName,
.jsonEditor .jsonValue {
  background: white;
  padding: 5px;
}

.tree-view { overflow: hidden; }
.menu-list a { padding: 0 .75em; }
