html, body { min-height: 100vh; }

body { background-color: #bcf7d3; }

main {
  padding-top: 30px;
}

#Index { margin: 200px auto; }
  #Index input,
  #Index button { margin: 12px; display: block; width: 600px; text-align: center; }

#Images {
  margin-top: 12px;
  position: sticky;
  top: 10px;
}

#Save {
  margin: 10px;
  position: sticky;
  top: 10px;
}
  #Save button {
    width: 100%;
    height: auto;
    min-height: 123px;
    white-space: pre-wrap;
  }

#Page { margin-top: 20px; }
  #Page.fullscreen {
    position: absolute;
    z-index: 44;
    background: #a3d4ff;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    margin: 0;
    padding: 30px;
  }

.preview {
  display: inline-block;
  margin: 7px;
  border: dotted 6px #999;
}
.preview > * { width: 100%; }
.preview .file *:not(img) { min-height: 500px; }

.dropzone { margin: 7px; border: dotted 6px #999 !important; }
.dropzone > .placeholder {
  margin: 69px 20px;
  color: #999;
  text-align: center;
}

.CodeMirror {
  border: 1px solid #eee;
  height: auto !important;
}

.title { color: inherit; }
.subtitle { color: inherit; }
.content { color: inherit; }
.table { color: inherit; background-color: inherit; }
.tag { margin: 0 3px; }
.card { margin: 12px 12px 12px 0; }
.tabs { height: 3em; margin-top: -1em; }

.notie-container {
  top: auto !important;
  bottom: 0;
}

.content pre {
  margin-bottom: 0 !important;
}

.jsonEditor .jsonName label { padding-left: 12px; }
.jsonEditor .jsonName,
.jsonEditor .jsonValue {
  background: white;
  padding: 5px;
}

.tree-view { overflow: hidden; }
.menu-list a { padding: 0 .75em; }
