* {
  box-sizing: border-box;
}
.button-container {
  width: 80%;
  margin: 4% auto;
}
.button-container button {
  display: block;
  width: 100%;
}
.edit {
  padding: 2% 4%;
  position: fixed;
}
.edit .warning {
  float: right;
}
.edit form label,
.edit form textarea,
.edit form button {
  display: block;
}
.edit form textarea {
  width: 80%;
  margin: 2% auto;
  min-height: 438px;
  font-family: monospace;
  font-size: 1em;
}
