@import 'http://yui.yahooapis.com/pure/0.5.0/pure-min.css';

.tree {
  font-family: monospace;
  font-size: 1.4em;
  ul {
    padding-left: 1.2em;
    margin: 0;
  }
  li { list-style: none;
    a:nth-child(2) { padding-left: 4px; }
  }
  a { text-decoration: none; }
}

.edit {
  form, textarea { width: 100%; }
  textarea { min-height: 50%; margin-bottom: 10px; }
}
