<!doctype html>
<html>
  <head>
    <title>{{#if doc.title}}{{ doc.title }} | {{/if}}{{ site.title }}</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
    <link rel="stylesheet/less" href="{{ site.baseUrl }}/assets/site.less" type="text/css">
  </head>

  <body>

    <header>{{> header }}</header>
    <main>
      <article>
        <h1>{{ doc.title }}</h1>
        {{{ dynamicTemplate doc.kind doc }}}
      </article>
      <aside>{{> related }}</aside>
    </main>
    <footer>{{> footer }}</footer>

  </body>

</html>
