* {
  box-sizing: border-box;
  font-family: 'Lato', 'Ubuntu', 'Verdana'
}

aside {
  font-size: 80%;

  ul {
    padding-left: 12px;
  }

  li {
    list-style: none;
    clear: both;

    header {

      h4 {
        float: left;
        margin: 0.3em inherit !important;
        cursor: pointer;
      }
      button {
        float: left;
        margin: 0.3em 10px !important;
        font-size: 70% !important;
        padding: 0.3em 0.8em !important;
        font-weight: bold;

        &.retract {
          background-color: rgba(90, 238, 120, 0.43);
          color: white;
        }

        &.add {
          background-color: rgb(238, 120, 90);
          color: white;
        }
      }
    }
  }

}

article {
  &.editing {
    position: relative;

    button.del {
      position: absolute;
      right: 18%;
      top: 0;
      cursor: pointer;
      background-color: rgb(231, 16, 16);
      color: white;
      font-weight: bold;
      padding: 0.6em 1.2em;
      font-size: 62%;
    }

    textarea {
      height: 400px;
    }
  }
}
