{{{ doc.html }}}
<ul>
  {{#each doc.items}}
    <li>
      {{#if path}}
        <a href="{{ ../../site.baseUrl }}/{{{ cleanPath path }}}">
          {{#if title}}{{title}}{{/if}}{{#unless title}}{{_id}}{{/unless}}
        </a>
      {{/if}}
      {{#if slug}}
        <a href="{{ ../../site.baseUrl }}/{{{ cleanPath ../../doc.path }}}/{{ slug }}">
          {{#if title}}{{title}}{{/if}}{{#unless title}}{{_id}}{{/unless}}
        </a>
      {{/if}}
      {{#unless path}}
        {{#unless slug}}
          {{ this }}
        {{/unless}}
      {{/unless}}
      {{#if date}} - <small><time>{{ date }}</time></small>{{/if}}
    </li>
  {{/each}}
</ul>
